{% if session.user.is_active == false %}
	<div class="overlay show">
		<div class="overlay-content" href="#"></div>
		<div class="popup" style="max-height: 80vh; overflow-y: auto;">
			<h1>
				Veuillez changer votre mot de passe
			</h1>
			{% if session.alert and session.alert.context == 'global' %}
				<p class="{{ session.alert.status == 'error' ? 'error-message' : 'success-message' }}" style="margin-bottom: 20px;">
					{{ session.alert.message }}
				</p>
			{% endif %}
			<form action="/dashboard/profile/editpassword" method="post" class="form">
				<div class="form-part">
					<p>
						Vous vous êtes connecté pour la première fois ou un administrateur a modifié votre mot de passe. Pour des raisons de sécurité, vous devez changer le mot de passe temporaire que vous avez reçu par email par un mot de passe personnel sécurisé. Veuillez saisir un nouveau mot de passe ci-dessous.
					</p>
				</div>
				<input type="hidden" name="user_id" value="{{ user.id }}">
				<div class="form-part">
					<label for="new_password">Nouveau mot de passe</label>
					<input type="password" name="new_password" id="new_password" placeholder="Nouveau mot de passe">
				</div>
				<div class="form-part">
					<label for="confirm_new_password">Confirmer le nouveau mot de passe</label>
					<input type="password" name="confirm_new_password" id="confirm_new_password" placeholder="Confirmer le nouveau mot de passe">
				</div>
				<button type="submit">Modifier</button>
			</form>
		</div>
	</div>
{% endif %}
