<p>Bonjour
	{{ name }},</p>

<p>Votre compte élève a été créé par un administrateur.</p>

<p>Voici vos identifiants de connexion:</p>
<ul>
	<li>Email:
		{{ email }}</li>
	<li>Mot de passe:
		{{ password }}</li>
</ul>

<p>Lors de votre première connexion, vous serez invité à changer votre mot de passe.</p>
