<p>Bonjour
	{{ name }},</p>

<p>Un administrateur a réinitialisé votre mot de passe.</p>

<p>Vos nouveaux identifiants sont:</p>
<ul>
	<li>Email:
		{{ email }}</li>
	<li>Mot de passe:
		{{ password }}</li>
</ul>
